includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: trait.unused
            path: src/Traits/HasEventLogTrait.php
